!!! 5
html
  head
    title= title
  body
    h1= title
    p
      | Try our
      a(href="/ping") ping.
    p
      | Or our
      a(href="/form") form.
    p
      | We also have
      a(href="/cookie") cookies.